body{
    background-color: gainsboro;
}
.top{
    height: 70px;
    width: 100%;
    background-color: #333;
}
.topImg{
    padding-left: 50px;
    padding-top: 5px;
    float: left;
}
h2, h3{
    color: darkgray;
}
.topUL{
    position: absolute;
    right: 30px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.topLI{
    list-style-type: disc;
    font-weight: bold;
    margin-left: 30px;
    float: right;
    width: 90px;
}
a:link, a:visited{
    color: whitesmoke;
}
.first, .second, .third, .last, .ceLan{
    background-color: white;
    margin: 30px 30px;
    padding: 30px;
}
.secondImg{
    width: 450px;
}
.secondLI{
    list-style-type: none;
}
.thirdBox{
    text-align: center;
    width: 170px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: 2px solid gainsboro;
    margin:20px 20px;
}
.thirdImg{
    width: 150px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    background-color: black;
    text-align: left;
    color: azure;
    padding: 5px;
    border: 1px solid gainsboro;
}
td{
    border: 1px solid gainsboro;
    padding: 5px;
}
.tdLast{
    font-weight: bold;
    padding: 5px;
}
.clh3{
    border-left: 3px solid gainsboro;
    height: 20px;
    padding: 15px 10px;
    vertical-align: middle;
    color: black;
}
.clForm{
    padding: 10px 320px;
}
.clP{
    color: gray;
    padding: 0 135px;
    font-size: small;
}
.miMa{
    padding: 0 32px;
}
.sex{
    padding: 0 80px;
}
.city{
    padding: 0 80px;
}
.aiHao{
    padding: 0 80px;
}
.geRen{
    padding-left: 48px;
}
.inButton{
    width: 100%;
    height: 60px;
    color: whitesmoke;
    font-weight: bold;
    font-size: large;
    background-color: dodgerblue;
    border-radius: 15px;
    padding: 10px;
}
